/*mixin*/
/*map*/
/* @extend*/
.div, .div8 {
  border: none;
  text-align: center;
  font-size: 16px; }

body.servivios {
  background-color: #682C26; }

body.body_Galeria {
  /*map-get*/
  background-color: #682C26;
  height: 100%; }

/*@extend*/
body {
  background-color: #682C26; }

header {
  background-color: #343a40; }
  header nav div div a h1 {
    /*mixin*/
    flex: 1 1 auto;
    width: 25vw;
    text-decoration: none;
    color: #949baa;
    font-family: 'Bogart', sans-serif;
    font-size: 5vw; }
  header nav div div a h2 {
    color: #949baa; }
  header nav div div div {
    padding-bottom: 0;
    padding-top: 0; }
    header nav div div div a {
      font-size: 1.5vw; }

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: #949baa; }

.navbar-light .navbar-nav .nav-link {
  color: #797f8c; }

.main_Book {
  background-color: #682C26; }
  .main_Book .card {
    background-color: #682C26; }
  .main_Book div div div img .card-img {
    background-color: #682C26;
    margin: auto;
    height: 100vh; }

.main_Eventos {
  background-color: #682C26; }
  .main_Eventos .card {
    background-color: #682C26; }
  .main_Eventos div div div img .card-img {
    background-color: #682C26;
    margin: auto;
    height: 100vh; }

.main_Casmiento {
  background-color: #682C26; }
  .main_Casmiento .card {
    background-color: #B4A699; }
  .main_Casmiento div div div img .card-img {
    background-color: #682C26;
    margin: auto;
    height: 100vh; }

.main_Contacto {
  background-color: #B4A699;
  height: 76vh; }

.main_Servicios {
  background-color: #B4A699; }

.main_Galeria div {
  background-color: #682C26; }
  .main_Galeria div div a {
    text-decoration: none; }
    .main_Galeria div div a img.card-img {
      background-color: #682C26;
      margin: auto;
      height: 100vh; }
    .main_Galeria div div a div h5 {
      color: #B4A699;
      text-align: center; }

.main_Index {
  background-color: #682C26; }
  .main_Index div {
    margin: auto; }
    .main_Index div .card-img {
      background-color: #682C26;
      margin: auto;
      height: 100vh; }
  .main_Index div div {
    background-color: #682C26; }
    .main_Index div div div {
      border: solid;
      border-color: #343a40;
      border-width: 0.2vw; }
      .main_Index div div div h5 {
        text-align: center;
        color: #B4A699; }
      .main_Index div div div p {
        font-size: 4vh;
        color: #B4A699;
        text-align: center; }

.main_Servicios .container .table tbody tr td.card_Servicios div.card_Servicios img.card-img-top {
  background-color: #682C26;
  margin: auto;
  height: 100vh; }

.quienes_Somos {
  background-color: #682C26; }
  .quienes_Somos div img {
    background-color: #682C26;
    margin: auto;
    height: 100vh;
    border: solid;
    border-color: #682C26;
    border-width: 0.3vw; }
  .quienes_Somos div div h1 {
    text-align: center;
    color: #B4A699; }
  .quienes_Somos div div p {
    color: #D9A9AC;
    text-align: center;
    font-size: 5vh; }

footer {
  background-color: #343a40; }
  footer div div a img {
    width: 3vw;
    margin: 1vw; }

@media (max-width: 425px) {
  .logo {
    flex: 1 1 auto;
    width: 25vw;
    text-decoration: none;
    color: #949baa;
    font-family: 'Bogart', sans-serif;
    font-size: 10vw; } }
