/* Sintaxis de css */
* {
    margin: 0;
    padding: 0;
    
}

header{
    background-color: #343a40!important
}
.logo{
    flex: 1 1 auto;
    width: 25vw;
    text-decoration: none;
    color: #949baa;
    font-family: 'Bogart', sans-serif;
    font-size: 3vw;
}
.foto{
    color: #949baa;
}
.nav-link {
    
    font-size: 1.5vw;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #949baa;
}
.navbar-light .navbar-nav .nav-link{
    color: #797f8c;
}
div p{
    font-size: 3vw;
    color: rgb(203, 207, 148)
}
  

img{
 width: 60%;
}
.navbar-toggler{
    color: #949baa;
}



@media (max-width: 574px){
    
}