/* Sintaxis de css */
* {
    margin: 0;
    padding: 0;
    
}
.card{
    background-color: #682C26;
}
.body_Galeria{
    background-color: #682C26;
}
header{
    background-color: #343a40;
}
.main_Contacto{
    background-color: #B4A699;
    height: 50vh;
}
body .servicios{
    background-color: #B4A699 ;
}
.logo{
    flex: 1 1 auto;
    width: 25vw;
    text-decoration: none;
    color: #949baa;
    font-family: 'Bogart', sans-serif;
    font-size: 3vw;
}
header{
    height: 15vh;
}
.foto{
    color: #949baa;
}
.nav-link {
    
    font-size: 1.5vw;
}
.navbar-light .navbar-toggle{
    color: #949baa;
    border-color: #949baa!important /* no me deja cambiarlo bootstrap*/
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #949baa;
}
.navbar-light .navbar-nav .nav-link{
    color: #797f8c;
}
.navbar{
    padding-bottom: 0;
    padding-top: 0;
}
div p{
    font-size: 2.4vw;
    color: #D9A9AC
}
.p_index{
    color: #B1D4E0
}
.menu-links{
    text-decoration: none;
    color: #949baa
}
.icon{
    width: 2vw;
    margin: 1vw;
}
img{
 width: 60%;
}
.navbar-toggler{
    color: #949baa;
}
footer{
    background-color: #343a40
}
div .menu{
    flex-direction: column;
}
.card-title{
    color: #B4A699;
}
.link_Galeria{
    text-decoration: none;
}
.card-text{
    
    text-align: center;
}
.card-title{
    text-align: center;
}
.main_Servicios{
    background-color: #B4A699;
}


div .carousel{
    height: 30vh;
}
.img_Casamiento{
    height: 154vh;
}
textarea{
    resize: none;
}
@media (max-width: 991px){
    header{
        height: 55vh;
    }
}
@media (max-width: 768px){
    .nav-link {
    
        font-size: 0.8rem;
    }
}
@media (max-width: 425px){
    .logo{
        flex: 1 1 auto;
        width: 25vw;
        text-decoration: none;
        color: #949baa;
        font-family: 'Bogart', sans-serif;
        font-size: 10vw;
    }
    header{
        height: 60vh;
    }
    td{
        font-size: 0.6rem;
        
    }
    .icon{
        width: 5vw;
        margin: 1vw;
    }
    .card_Servicios{
        width: 20vw;
        margin-right: 0%;
    }
    .card-img-top{
        width: 30vw;
        margin-right: 0%;
    }
    .nav-link {
    
        font-size: 0.8rem;
    }
    
}