@media (max-width:1024px){
    footer{
        a{
            img{
                 width: 5vw;
                 margin: 1vw;
                }
        }
    }
    
    
    header{   
        nav{
            div{
            a{
                font-size: 2.5vw;  
                }
            }
        }
    }    
}



@media (max-width: 425px){
    .logo{
    @include logo(10vw)
        }
    .quienes_Somos div div p {
        color: #D9A9AC;
        text-align: center;
        font-size: 3.6vh
                    }   
    header{   
            nav{
                div{
                    a{
                    font-size: 4vw;  
                    }
                }
            }
        }                    
    footer{
        a{
            img{
                 width: 8vw;
                 margin: 1vw;
                }
        }
    }                               
}

header{   
    nav{
        a{
            font-size: 2vw;
            
        }
        
    }
}