body.servivios{
    background-color: $color-principal-body;
}
body.body_Galeria{
    /*map-get*/
    background-color: map-get($colors, color-principal);
    height: 100%;
}
/*mixin*/
.logo{
    @include logo(5vw)
}