header{
        background-color: $color-principal-header-footer;
        height: 50vh;
    nav{
        div{
            div{
                a{
                  h1{
                      /*mixin*/
                    @include logo(5vw)
                  }  
                }
            }
            div{
                 div{
                     a .nav-link{
                        font-size: 1.5vw; 
                     }
                 }
            }
        }
    }
       
}
    