header{
        background-color: $color-principal-header-footer;
        height: 50vh;
    nav{
        div{
            div{
                a{
                  h1{
                    flex: 1 1 auto;
                    width: 25vw;
                    text-decoration: none;
                    color: #949baa;
                    font-family: 'Bogart', sans-serif;
                    font-size: 8vw;
                  }  
                }
            }
        }
    }
       
}
    .nav-link {
        font-size: 1.5vw;
    }
 
