.main_Book{
    background-color:$color-principal-body;
   .card{
        background-color: $color-principal-body;
    }
}    
.main_Casmiento{
    background-color: $color-principal-body;
    .card{
        background-color: #682C26;
    }
}
.main_Contacto{
    background-color: $color-body-servicios;
    height: 76vh;
}